body {
    width: 40em;
    max-width: 99%;
    margin: 0 auto;
    margin-top:1em;
    margin-bottom:1em;
    padding: 1.5em;
    border: 2px solid black ;
    border-radius: 3px;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif', freesans; 
    background-color: #f9f9f9;
}

/* 
 * Hiding the title tag from the page so that 
 * it is not repeated and I can use h2 tags 
*/
h1.title { 
	display:none;
}

figure {
    display: block;
    margin:0;   
    page-break-inside:avoid; 
}
a {
    text-decoration: none;
    /*color: #0097c4;*/
}
a:hover {
    text-decoration: underline;
}
p {
    font-size: 1em;
    line-height: 1.1em;    
}

ul {
    list-style: '- ';
}



